<table class="table">
  <tr>
    <th>id</th>
    <th>名前</th>
    <th>郵便番号</th>
    <th>住所</th>
    <th>電話番号</th>
    <th>HP</th>
    <th>営業時間</th>
    <th>緯度</th>
    <th>経度</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% unless @shop.nil? %>
    <%= render 'show_data', shop: @shop %>
  <% end %>
</table>
