ファイル追加<br>
<%= link_to "new", [:new, @company, @shop, :file] %><br><br>

<table class="table">
  <tr>
    <th>id</th>
    <th>ファイル名</th>
    <th>ファイルタイプ</th>
    <th>場所</th>
    <th></th>
  </tr>

  <% @files.each do |file| %>
    <%= render 'show_data', file: file %>
  <% end %>

</table>
