新しく会社を作る
<%= link_to "new", new_company_path %>

<h1>会社一覧</h1>

<table class="table">
  <tr>
    <th>id</th>
    <th>name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @companies.each do |company| %>
    <%= render 'show_data', company: company %>
  <% end %>
</table>
