<h1>会社一覧</h1>

<table class="list">
  <tr>
    <th>id</th>
    <th>name</th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <%= content_tag :td, company.id %>
      <%= content_tag :td, company.name %>
    </tr>
  <% end %>
</table>
