<h1>新しいカテゴリーを作る</h1>
<%= link_to 'new', new_category_path %><br><br>

カテゴリー一覧
<table class="table">
  <tr>
    <th>id</th>
    <th>名前</th>
    <th></th>
  </tr>

  <%= unless @categories.nil? %>
    <% @categories.each do |category| %>
      <%= render 'show_data', category: category %>
    <% end %>
  <% end %>
</table>
